USE PARKIR;
GO
USE [PARKIR]
GO
/****** Object:  Table [dbo].[KATEGORI]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI](
	[ID_KATEGORI] [int] NOT NULL,
	[NAMA_KAKTEGORI] [varchar](1024) NOT NULL,
	[HARGA] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KENDARAAN]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KENDARAAN](
	[ID_KENDARAAN] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ID_KATEGORI] [int] NOT NULL,
	[MERK_KENDARAAN] [varchar](1024) NULL,
	[WARNA_KENDARAAN] [varchar](1024) NULL,
	[PLAT_NOMOR] [varchar](1024) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEMBAYARAN]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEMBAYARAN](
	[ID_TRANSAKSI] [int] NOT NULL,
	[ID_PENJAGA] [int] NULL,
	[ID_KENDARAAN] [int] NULL,
	[TANGGAL] [datetime] NULL,
 CONSTRAINT [PK_PEMBAYARAN] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSAKSI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PENJAGA]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENJAGA](
	[ID_PENJAGA] [int] NOT NULL,
	[ID_TEMPAT] [int] NULL,
	[NAMA_PENJAGA] [varchar](1024) NULL,
	[PHONE] [varchar](1024) NULL,
	[EMAIL] [varchar](1024) NULL,
	[PASSWORD] [varchar](1024) NULL,
	[SALDO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID_USER] [int] NOT NULL,
	[NAMA_USER] [varchar](1024) NULL,
	[PHONE] [varchar](1024) NULL,
	[EMAIL] [varchar](1024) NULL,
	[PASSWORD] [varchar](1024) NULL,
	[SALDO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PEMBAYARAN_EXTENDED]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PEMBAYARAN_EXTENDED]
AS
SELECT pm.ID_TRANSAKSI, u.NAMA_USER, k.MERK_KENDARAAN,  
kt.NAMA_KAKTEGORI, pj.NAMA_PENJAGA, kt.HARGA
FROM PEMBAYARAN pm
JOIN PENJAGA pj
ON pj.ID_PENJAGA = pm.ID_PENJAGA
JOIN KENDARAAN k
ON pm.ID_KENDARAAN = k.ID_KENDARAAN
JOIN [USER] u
ON u.ID_USER = k.ID_USER
JOIN KATEGORI kt
ON kt.ID_KATEGORI = k.ID_KATEGORI
GO
/****** Object:  Table [dbo].[PENARIKAN]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENARIKAN](
	[ID_TRANSAKSI] [int] NOT NULL,
	[ID_PENJAGA] [int] NULL,
	[ID_BANK] [int] NULL,
	[TANGGAL] [datetime] NULL,
	[JUMLAH] [int] NULL,
 CONSTRAINT [PK_PENARIKAN] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSAKSI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TOTAL_TRANSAKSI_PENJAGA]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TOTAL_TRANSAKSI_PENJAGA]
AS
SELECT
    ID_PENJAGA as 'ID Penjaga',
    SUM(JUMLAH) AS 'Total Penarikan', AVG(JUMLAH) AS 'Rata Rata Penarikan',
    COUNT(ID_TRANSAKSI) AS 'Jumlah Transaksi',
    MAX(TANGGAL) as 'Tanggal Terakhir Transaksi'
FROM PENARIKAN
GROUP BY ID_PENJAGA
;
GO
/****** Object:  Table [dbo].[BANK]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK](
	[ID_BANK] [int] NOT NULL,
	[NAMA_BANK] [varchar](1024) NULL,
	[KODE_BANK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMPAT]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPAT](
	[ID_TEMPAT] [int] NOT NULL,
	[NAMA_TEMPAT] [varchar](1024) NULL,
	[ALAMAT] [varchar](1024) NULL,
	[KOTA] [varchar](1024) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOPUP]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPUP](
	[ID_TRANSAKSI] [int] NOT NULL,
	[ID_BANK] [int] NULL,
	[ID_USER] [int] NULL,
	[TANGGAL] [datetime] NULL,
 CONSTRAINT [PK_TOPUP] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSAKSI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UPDATE_PEMBAYARAN]    Script Date: 10/15/2019 3:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPDATE_PEMBAYARAN](
	[id] [int] NULL,
	[tanggal] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BANK] ([ID_BANK], [NAMA_BANK], [KODE_BANK]) VALUES (1, N'BRI', 301)
INSERT [dbo].[BANK] ([ID_BANK], [NAMA_BANK], [KODE_BANK]) VALUES (2, N'BNI', 302)
INSERT [dbo].[BANK] ([ID_BANK], [NAMA_BANK], [KODE_BANK]) VALUES (3, N'BCA', 303)
INSERT [dbo].[KATEGORI] ([ID_KATEGORI], [NAMA_KAKTEGORI], [HARGA]) VALUES (1, N'MOBIL', 5000)
INSERT [dbo].[KATEGORI] ([ID_KATEGORI], [NAMA_KAKTEGORI], [HARGA]) VALUES (2, N'MOTOR', 2000)
INSERT [dbo].[KENDARAAN] ([ID_KENDARAAN], [ID_USER], [ID_KATEGORI], [MERK_KENDARAAN], [WARNA_KENDARAAN], [PLAT_NOMOR]) VALUES (1, 10, 1, N'TOYOTA', N'PUTIH', N'N 3204')
INSERT [dbo].[KENDARAAN] ([ID_KENDARAAN], [ID_USER], [ID_KATEGORI], [MERK_KENDARAAN], [WARNA_KENDARAAN], [PLAT_NOMOR]) VALUES (2, 6, 2, N'YAMAHA', N'PUTIH', N'N 3205')
INSERT [dbo].[KENDARAAN] ([ID_KENDARAAN], [ID_USER], [ID_KATEGORI], [MERK_KENDARAAN], [WARNA_KENDARAAN], [PLAT_NOMOR]) VALUES (3, 14, 2, N'YAMAHA', N'HITAM', N'N 3206')
INSERT [dbo].[PEMBAYARAN] ([ID_TRANSAKSI], [ID_PENJAGA], [ID_KENDARAAN], [TANGGAL]) VALUES (1, 1, 8, CAST(N'2019-06-19T00:00:00.000' AS DateTime))
INSERT [dbo].[PEMBAYARAN] ([ID_TRANSAKSI], [ID_PENJAGA], [ID_KENDARAAN], [TANGGAL]) VALUES (2, 17, 7, CAST(N'2020-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[PEMBAYARAN] ([ID_TRANSAKSI], [ID_PENJAGA], [ID_KENDARAAN], [TANGGAL]) VALUES (3, 22, 4, CAST(N'2019-06-24T00:00:00.000' AS DateTime))
INSERT [dbo].[PENARIKAN] ([ID_TRANSAKSI], [ID_PENJAGA], [ID_BANK], [TANGGAL], [JUMLAH]) VALUES (1, 10, 2, CAST(N'2019-01-21T00:00:00.000' AS DateTime), 500000)
INSERT [dbo].[PENARIKAN] ([ID_TRANSAKSI], [ID_PENJAGA], [ID_BANK], [TANGGAL], [JUMLAH]) VALUES (2, 10, 6, CAST(N'2020-01-03T00:00:00.000' AS DateTime), 400000)
INSERT [dbo].[PENARIKAN] ([ID_TRANSAKSI], [ID_PENJAGA], [ID_BANK], [TANGGAL], [JUMLAH]) VALUES (3, 2, 7, CAST(N'2019-08-27T00:00:00.000' AS DateTime), 900000)
INSERT [dbo].[PENJAGA] ([ID_PENJAGA], [ID_TEMPAT], [NAMA_PENJAGA], [PHONE], [EMAIL], [PASSWORD], [SALDO]) VALUES (1, 10, N'Khalil Banker', N'290-953-1249', N'schristleyf@cafepress.com', N'H6po9pG', 1200000)
INSERT [dbo].[PENJAGA] ([ID_PENJAGA], [ID_TEMPAT], [NAMA_PENJAGA], [PHONE], [EMAIL], [PASSWORD], [SALDO]) VALUES (2, 7, N'Winny Odams', N'435-644-7999', N'piczokvitzg@smugmug.com', N'W1VgL8qFA4', 1500000)
INSERT [dbo].[PENJAGA] ([ID_PENJAGA], [ID_TEMPAT], [NAMA_PENJAGA], [PHONE], [EMAIL], [PASSWORD], [SALDO]) VALUES (3, 14, N'Baily Cristobal', N'809-835-7725', N'awellbankh@wisc.edu', N'FiiJTIYyldB', 1300000)
INSERT [dbo].[TEMPAT] ([ID_TEMPAT], [NAMA_TEMPAT], [ALAMAT], [KOTA]) VALUES (1, N'TrustCo Bank Corp NY', N'53420 Reinke Avenue', N'Bankeryd')
INSERT [dbo].[TEMPAT] ([ID_TEMPAT], [NAMA_TEMPAT], [ALAMAT], [KOTA]) VALUES (2, N'BB&T Corporation', N'7 Fair Oaks Drive', N'Curug')
INSERT [dbo].[TEMPAT] ([ID_TEMPAT], [NAMA_TEMPAT], [ALAMAT], [KOTA]) VALUES (3, N'Dynegy Inc.', N'922 Messerschmidt Parkway', N'Songgai')
INSERT [dbo].[TOPUP] ([ID_TRANSAKSI], [ID_BANK], [ID_USER], [TANGGAL]) VALUES (1, 10, 3, CAST(N'2019-03-09T00:00:00.000' AS DateTime))
INSERT [dbo].[TOPUP] ([ID_TRANSAKSI], [ID_BANK], [ID_USER], [TANGGAL]) VALUES (2, 1, 10, CAST(N'2019-09-28T00:00:00.000' AS DateTime))
INSERT [dbo].[TOPUP] ([ID_TRANSAKSI], [ID_BANK], [ID_USER], [TANGGAL]) VALUES (3, 10, 4, CAST(N'2019-06-13T00:00:00.000' AS DateTime))
INSERT [dbo].[UPDATE_PEMBAYARAN] ([id], [tanggal]) VALUES (1, CAST(N'2019-10-15T15:20:58.750' AS DateTime))
INSERT [dbo].[USER] ([ID_USER], [NAMA_USER], [PHONE], [EMAIL], [PASSWORD], [SALDO]) VALUES (1, N'Nadya Ivanishin', N'682-321-9980', N'nivanishin0@msu.edu', N'S7zHYcw', 1200000)
INSERT [dbo].[USER] ([ID_USER], [NAMA_USER], [PHONE], [EMAIL], [PASSWORD], [SALDO]) VALUES (2, N'Fabio Dallander', N'814-670-2931', N'fdallander1@free.fr', N'MAznxNm9dZ7', 1300000)
INSERT [dbo].[USER] ([ID_USER], [NAMA_USER], [PHONE], [EMAIL], [PASSWORD], [SALDO]) VALUES (3, N'Candra McCoy', N'958-788-0723', N'cmccoy2@webnode.com', N'Tk5uXggff', 1000000)
/****** Object:  Index [PK_BANK]    Script Date: 10/15/2019 3:25:07 PM ******/
ALTER TABLE [dbo].[BANK] ADD  CONSTRAINT [PK_BANK] PRIMARY KEY NONCLUSTERED 
(
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KATEGORI]    Script Date: 10/15/2019 3:25:07 PM ******/
ALTER TABLE [dbo].[KATEGORI] ADD  CONSTRAINT [PK_KATEGORI] PRIMARY KEY NONCLUSTERED 
(
	[ID_KATEGORI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KENDARAAN]    Script Date: 10/15/2019 3:25:07 PM ******/
ALTER TABLE [dbo].[KENDARAAN] ADD  CONSTRAINT [PK_KENDARAAN] PRIMARY KEY NONCLUSTERED 
(
	[ID_KENDARAAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [KATEGORI_KENDARAAN_FK]    Script Date: 10/15/2019 3:25:07 PM ******/
CREATE NONCLUSTERED INDEX [KATEGORI_KENDARAAN_FK] ON [dbo].[KENDARAAN]
(
	[ID_KATEGORI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [KENDARAAN_USER_FK]    Script Date: 10/15/2019 3:25:07 PM ******/
CREATE NONCLUSTERED INDEX [KENDARAAN_USER_FK] ON [dbo].[KENDARAAN]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PENJAGA]    Script Date: 10/15/2019 3:25:07 PM ******/
ALTER TABLE [dbo].[PENJAGA] ADD  CONSTRAINT [PK_PENJAGA] PRIMARY KEY NONCLUSTERED 
(
	[ID_PENJAGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ALAMAT_JAGA_FK]    Script Date: 10/15/2019 3:25:07 PM ******/
CREATE NONCLUSTERED INDEX [ALAMAT_JAGA_FK] ON [dbo].[PENJAGA]
(
	[ID_TEMPAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TEMPAT]    Script Date: 10/15/2019 3:25:07 PM ******/
ALTER TABLE [dbo].[TEMPAT] ADD  CONSTRAINT [PK_TEMPAT] PRIMARY KEY NONCLUSTERED 
(
	[ID_TEMPAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PENCAIRAN_FK]    Script Date: 10/15/2019 3:25:07 PM ******/
CREATE NONCLUSTERED INDEX [PENCAIRAN_FK] ON [dbo].[TOPUP]
(
	[ID_BANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PENCAIRAN2_FK]    Script Date: 10/15/2019 3:25:07 PM ******/
CREATE NONCLUSTERED INDEX [PENCAIRAN2_FK] ON [dbo].[TOPUP]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_USER]    Script Date: 10/15/2019 3:25:07 PM ******/
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [PK_USER] PRIMARY KEY NONCLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KENDARAAN]  WITH CHECK ADD  CONSTRAINT [FK_KENDARAA_KATEGORI__KATEGORI] FOREIGN KEY([ID_KATEGORI])
REFERENCES [dbo].[KATEGORI] ([ID_KATEGORI])
GO
ALTER TABLE [dbo].[KENDARAAN] CHECK CONSTRAINT [FK_KENDARAA_KATEGORI__KATEGORI]
GO
ALTER TABLE [dbo].[KENDARAAN]  WITH CHECK ADD  CONSTRAINT [FK_KENDARAA_KENDARAAN_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID_USER])
GO
ALTER TABLE [dbo].[KENDARAAN] CHECK CONSTRAINT [FK_KENDARAA_KENDARAAN_USER]
GO
ALTER TABLE [dbo].[PEMBAYARAN]  WITH CHECK ADD  CONSTRAINT [FK_PEMBAYAR_PEMBAYARA_PENJAGA] FOREIGN KEY([ID_PENJAGA])
REFERENCES [dbo].[PENJAGA] ([ID_PENJAGA])
GO
ALTER TABLE [dbo].[PEMBAYARAN] CHECK CONSTRAINT [FK_PEMBAYAR_PEMBAYARA_PENJAGA]
GO
ALTER TABLE [dbo].[PEMBAYARAN]  WITH CHECK ADD  CONSTRAINT [FK_PEMBAYAR_REFERENCE_KENDARAA] FOREIGN KEY([ID_KENDARAAN])
REFERENCES [dbo].[KENDARAAN] ([ID_KENDARAAN])
GO
ALTER TABLE [dbo].[PEMBAYARAN] CHECK CONSTRAINT [FK_PEMBAYAR_REFERENCE_KENDARAA]
GO
ALTER TABLE [dbo].[PENARIKAN]  WITH CHECK ADD  CONSTRAINT [FK_PENARIKA_PENARIKAN_BANK] FOREIGN KEY([ID_BANK])
REFERENCES [dbo].[BANK] ([ID_BANK])
GO
ALTER TABLE [dbo].[PENARIKAN] CHECK CONSTRAINT [FK_PENARIKA_PENARIKAN_BANK]
GO
ALTER TABLE [dbo].[PENARIKAN]  WITH CHECK ADD  CONSTRAINT [FK_PENARIKA_PENARIKAN_PENJAGA] FOREIGN KEY([ID_PENJAGA])
REFERENCES [dbo].[PENJAGA] ([ID_PENJAGA])
GO
ALTER TABLE [dbo].[PENARIKAN] CHECK CONSTRAINT [FK_PENARIKA_PENARIKAN_PENJAGA]
GO
ALTER TABLE [dbo].[PENJAGA]  WITH CHECK ADD  CONSTRAINT [FK_PENJAGA_ALAMAT_JA_TEMPAT] FOREIGN KEY([ID_TEMPAT])
REFERENCES [dbo].[TEMPAT] ([ID_TEMPAT])
GO
ALTER TABLE [dbo].[PENJAGA] CHECK CONSTRAINT [FK_PENJAGA_ALAMAT_JA_TEMPAT]
GO
ALTER TABLE [dbo].[TOPUP]  WITH CHECK ADD  CONSTRAINT [FK_TOPUP_PENCAIRAN_BANK] FOREIGN KEY([ID_BANK])
REFERENCES [dbo].[BANK] ([ID_BANK])
GO
ALTER TABLE [dbo].[TOPUP] CHECK CONSTRAINT [FK_TOPUP_PENCAIRAN_BANK]
GO
ALTER TABLE [dbo].[TOPUP]  WITH CHECK ADD  CONSTRAINT [FK_TOPUP_PENCAIRAN_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TOPUP] CHECK CONSTRAINT [FK_TOPUP_PENCAIRAN_USER]
GO
USE [master]
GO
